[Unit]
Description=CaseAutoHub Web Service
After=network.target redis.service mysql.service

[Service]
Type=simple
User=casehub
Group=casehub
WorkingDirectory=/opt/case_auto_hub
Environment=PYTHONPATH=/opt/case_auto_hub
Environment=CONFIG_NAME=ProConfig
ExecStart=/opt/case_auto_hub/venv/bin/gunicorn main:caseHub -k uvicorn.workers.UvicornWorker -w 2 -b 0.0.0.0:5050
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
